{% extends 'app/index.html' %}

{% block title %}
  {{ title }}
{% endblock %}

{% block body %}
  <h1 class="display-3 font-weight-normal">Страница с услугами</h1>
{% endblock %}

{% block section %}

<div class="px-4">
  <h3 class="pb-2">Быстро</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos praesentium illum ullam, provident ex quia magni ducimus modi voluptatibus soluta! Eos praesentium illum ullam, provident ex quia magni ducimus modi voluptatibus soluta!</p>
</div>

<div class="px-4">
  <h3 class="pb-2">Дёшево</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos praesentium illum ullam, provident ex quia magni ducimus modi voluptatibus soluta! Eos praesentium illum ullam, provident ex quia magni ducimus modi voluptatibus soluta!</p>
</div>

<div class="px-4">
  <h3 class="pb-2">Качественно</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos praesentium illum ullam, provident ex quia magni ducimus modi voluptatibus soluta! Eos praesentium illum ullam, provident ex quia magni ducimus modi voluptatibus soluta!</p>
</div>

{% endblock %}
